@charset "utf-8";
/* CSS Document */


* {
	margin:0;
	padding:0;
}

body {
	background-image: url("imagens/deadpool-wallpaper_103703409_293.jpg");
	}
p{
		
	text-indent: 30px;
	font-weight: bold;
	font-size: 30px;
	color: white;
}
.topo{


	text-shadow: 3px 3px #FF0000;
	font-size: 50px;
	text-align: center;
	color: white;

}

/* Formatação do menu */


div.menu{
	

	height: 30px;
	background-color: red;
	min-width: 540px;
	right: 0;
 	top: 50%;

}

nav{
	margin: 0 auto;
	width: 940px;

}
nav ul {
	list-style:none;
	color: white;

}

nav ul li {
	float:left;
}

nav ul li a{
		
	padding-left: 30px;
	padding-right: 40px;
	font-size:18px;
	line-height:30px;
	text-align:center;
	text-decoration:none;
	color: white;
}

nav ul li a:hover{
	color: blue;
}

.fale label{
	display:block;
	margin: 10px;
	padding: 10px;


}
.fale input, textarea{
	padding: 8px;
	width: 700px;

}
#botao{
	
	width: 700px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	background: red;

}

    	
